# Avoid forcing a non-native target on macOS.
CompileFlags:
  Remove:
    - "--target=x86_64-w64-windows-gnu"

Completion:
  AllScopes: No

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None

Hover:
  ShowAKA: true

InlayHints:
  BlockEnd: true
  Designators: false
  Enabled: false
  ParameterNames: false
  DeducedTypes: false
  TypeNameLimit: 24
